<div class="logo">
  <img src="./assets/connecty.png" alt="Logo image" />
</div>
<div class="container main_wrapper">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <h2>Login</h2>
      <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            id="email"
            class="form-control"
            type="email"
            placeholder="me@example.com"
            ngModel
            name="email"
          />
        </div>
        <div>
          <label for="password">Password</label>
          <input
            id="password"
            class="form-control"
            type="password"
            placeholder="********"
            ngModel
            name="password"
          />
        </div>
        <div class="btn_wrapper">
          <button class="btn btn_submit" type="submit">Login &rarr;</button>
        </div>
      </form>
      <div class="switch_form">
        <p class="switch_form_message">Don't have an account yet?</p>
        <a class="btn btn_switch" (click)="onSwitchToSignUp()">
          Switch to sign up
        </a>
      </div>
    </div>
  </div>
</div>
