<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form>
        <div class="form-group">
          <label for="username">Username</label>
          <input id="username" class="form-control" type="text" />
        </div>
        <div>
          <label for="password">Password</label>
          <input id="password" class="form-control" type="password" />
        </div>
        <button class="btn" type="submit">Login</button>
      </form>
      <div>
        <p>Don't have an account yet?</p>
        <button class="btn" (click)="onSwitchToSignUp()">
          Switch to sign up
        </button>
      </div>
    </div>
  </div>
</div>
